# Ignore config directory
.*
snap
*SoulseekQt
k*
D*
R
Escritorio
Imagenes
Monero
Musica
Videos

# Ignore filetypes
*.txt
*.pdf
*.mp3
*.mp4
*.gif
*.jpg
*.jpeg
*.md
*.png
*.m4a
*.ini
*.zip
*.rar
*.7z
*.xls
*.xml
*.xcf
*.webm
*.mkv
*.log
*.aux
*.json
*.html
*.js
.gtk-bookmarks
plugin
custom
spell
ftplugin
