# Ignore config directory
/.config/BraveSoftware
/.config/filezilla
/.config/desmume
/.config/dconf
/.config/GIMP
/.config/galculator
/.config/fontforge
/.config/monero-project
/.config/qalculate
/.config/qt5ct
/.config/pulse
/.config/pcmanfm
/.config/transmission
/.config/transmission-daemon
/.config/session
/.config/shell
/.config/nicotine
/.config/fcitx
/.config/neofetch
/.config/mozc
/.config/libreoffice
/.config/libfm
/.config/configstore
k*

# vim directory
/.config/nvim/pack
/.config/nvim/vim-plug
/.config/nvim/autoload

# Ignore directories
/.bitmonero
/.cache
/.cargo
/Monero
/.java
/Imágenes
/.icons
/go
/cell
/.dbus
/Descargas
/Documentos
/Plantillas
/Emulation
/Musica
/Escritorio
/Not_Related
/Vídeos
/.local/share
/.local/lib
/.shared-ringdb
/.pki
/vimwiki
/.mozilla
/Público
/repos
/.ssh

# Ignore files
.mbsyncrc
.urlview
.viminfo
.wget-hsts
.gtkrc-2.0
.notmuch-config
.bash_history
.bash_logout
*.git

# Ignore filetypes
*.txt
*.pdf
*.mp3
*.mp4
