#!/bin/sh
sxhkd -m 1 &
dunst &
unclutter &
mpd &
xset r rate 300 50 &
redshift &
udiskie &
copyq &
numlockx &
~/.local/bin/lockscreen.sh &
~/.local/bin/setbg &
picom &
xrdb ~/.Xresources; sleep 5 && ~/.local/bin/remaps.sh

export GTK_IM_MODULE='fcitx' &
export QT_IM_MODULE='fcitx' &
export SDL_IM_MODULE='fcitx' &
export XMODIFIERS='@im=fcitx' &
sleep 2 && fcitx -d &
