!! *foreground: #00cc00
!!*foreground_bold: #a8a19f
!!*cursor: #a8a19f

!! alpha value for st
*.alpha: 0.9

!!*background:		[70]#1b1918
!!*background: rgba(0, 0, 0, .7)

! Dracula Xresources palette
! *.foreground: #F8F8F2
! *.background: #282A36
! *.color0:     #000000
! *.color8:     #4D4D4D
! *.color1:     #FF5555
! *.color9:     #FF6E67
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6

!! gruvbox:
! *.color0: #1d2021
! *.color1: #cc241d
! *.color2: #98971a
! *.color3: #d79921
! *.color4: #458588
! *.color5: #b16286
! *.color6: #689d6a
! *.color7: #a89984
! *.color8: #928374
! *.color9: #fb4934
! *.color10: #b8bb26
! *.color11: #fabd2f
! *.color12: #83a598
! *.color13: #d3869b
! *.color14: #8ec07c
! *.color15: #ebdbb2
! *.background: #282828
! *.foreground: white
! *.cursorColor: white

/* !! solarized */
! *.color0:	#073642
! *.color1:	#dc322f
! *.color2:	#859900
! *.color3:	#b58900
! *.color4:	#268bd2
! *.color5:	#d33682
! *.color6:	#2aa198
! *.color7:	#eee8d5
! *.color9:	#cb4b16
! *.color8:	#fdf6e3
! *.color10:	#586e75
! *.color11:	#657b83
! *.color12:	#839496
! *.color13:	#6c71c4
! *.color14:	#93a1a1
! *.color15:	#fdf6e3

!! black
!! *color0: #1b1918
!! *color8: #766e6b
!! !! red
!! *color1: #f22c40
!! *color9: #f22c40
!! !! green
!! *color2: #5ab738
!! *color10: #5ab738
!! !! yellow
!! *color3: #d5911a
!! *color11: #d5911a
!! !! blue
!! *color4: #407ee7
!! *color12: #407ee7
!! !! magenta
!! *color5: #6666ea
!! *color13: #6666ea
!! !! cyan
!! *color7: #a8a19f
!! *color15: #f1efee

! Nordic theme
 #define nord0 #2E3440
 #define nord1 #3B4252
 #define nord2 #434C5E
 #define nord3 #4C566A
 #define nord4 #D8DEE9
 #define nord5 #E5E9F0
 #define nord6 #ECEFF4
 #define nord7 #8FBCBB
 #define nord8 #88C0D0
 #define nord9 #81A1C1
 #define nord10 #5E81AC
 #define nord11 #BF616A
 #define nord12 #D08770
 #define nord13 #EBCB8B
 #define nord14 #A3BE8C
 #define nord15 #B48EAD

 *.foreground:   nord4
 *.background:   nord0
 *.cursorColor:  nord4
 *fading: 35
 *fadeColor: nord3

 *.color0: nord1
 *.color1: nord11
 *.color2: nord14
 *.color3: nord13
 *.color4: nord9
 *.color5: nord15
 *.color6: nord8
 *.color7: nord5
 *.color8: nord3
 *.color9: nord11
 *.color10: nord14
 *.color11: nord13
 *.color12: nord9
 *.color13: nord15
 *.color14: nord7
 *.color15: nord6

! URxvt.background:	[80]#282A36

URxvt.intensityStyles:	true
URxvt.font:	xft:monospace:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.termname:         rxvt-unicode

Sxiv.foreground: #eeeeee
Sxiv.background: #000000

dmenu.font: monospace
dmenu.background: #222222
dmenu.foreground: #8ec07c
dmenu.selbackground: #458588
dmenu.selforeground: #fb4934
