@import "nord.css";

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  border: none;
  border-radius: 0;
  /*min-height: 0;*/
  margin: 0;
  padding: 0;
}

#waybar {
  background: @theme_bg_color;
  color: @theme_fg_color;
}
#window,
#cpu,
#mpd,
#clock,
#battery,
#backlight,
#wireplumber,
#custom-notification,
#tray,
#custom-power {
  padding: 0 0.5rem;
}

#tags,
#workspaces {
  padding-right: 0.5rem;
}

#tags button,
#workspaces button {
  padding: 0 0.8rem; /*More horizontal padding for text */
  font-weight: normal;
}

#tags button.active,
#workspaces button.active {
  background-color: @theme_base_color;
  color: @theme_fg_color;
}

#tags button.focused,
#workspaces button.focused {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
  font-weight: bold;
}

#tags button.urgent,
#workspaces button.urgent {
  background-color: @warning_color;
  color: @theme_selected_fg_color;
  animation: blink 1s infinite;
}

#tags button:hover,
#workspaces button:hover {
  background-color: @unfocused_base_color;
  color: @unfocused_selected_fg_color;
}

/* Optional: Add subtle transition for hover effects */
#tags button,
#workspaces button {
  transition: all 0.2s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#battery.charging {
  color: @success_color;
}

#battery.warning:not(.charging) {
  color: @warning_color;
}

#custom-power {
  color: @theme_selected_fg_color;
}
